# Default to LF for everything
* text=auto eol=lf

# Shell scripts must always be LF
*.sh text eol=lf

# Docker files
Dockerfile text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Python
*.py text eol=lf

# Windows scripts
*.bat text eol=crlf
*.ps1 text eol=crlf